@import '../fonts';
@import '../colors';

.navbar{
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 24px 0 24px;
    position: relative;
    z-index: 99;
    background-color: $c-white;

    &__left{
        &-logo{
            @include font_medium40;
            width: 140px;
            height: auto;
        }
    }

    &__mid{
        &-list{

            display: flex;
            align-items: center;
            justify-content: center;
            gap: 40px;

            &-links{
                @include font_medium17;
                color: $c-blue;
            }
        }

    }
}