


@mixin font_medium60{
    font-size: 60px;
    font-weight: 700;
}

@mixin font_medium56{
    font-size: 56px;
    font-weight: 700;
}


@mixin font_medium40{
    font-size: 40px;
    font-weight: 500;
}

@mixin font__medium36{
    font-size: 36px;
    font-weight: 500;
}


@mixin font__medium24{
    font-size: 24px;
    font-weight: 500;
}

@mixin font__medium20{
    font-size: 20px;
    font-weight: 500;
}

@mixin font_medium17{
    font-size: 17px;
    font-weight: 500;
}

@mixin font_regular17{
    font-size: 17px;
    font-weight: 400;
}

@mixin font_medium15{
    font-size: 15px;
    font-weight: 500;
}

@mixin font_regular15{
    font-size: 15px;
    font-weight: 400;
}

@mixin font_medium13{
    font-size: 13px;
    font-weight: 500;
}


@mixin font_regular13{
    font-size: 13px;
    font-weight: 400;
}


@mixin font_regular11{
    font-size: 11px;
    font-weight: 400;
}