@import './colors';
@import './fonts';

.animHover {
  position: relative;
  overflow: hidden; 
}


.c-btn {
  width: 200px;
  background-color: $c-blue;
  border-radius: 6px;
  padding: 12px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 12px;
  position: relative; 
  cursor: pointer;
  
  &_text {
    color: $c-white;
    @include font_medium17;
  }

  &_icon {
    position: relative; 
    transition: transform 0.3s ease-in-out;
  }

  &:hover .c-btn_icon {
    animation: move-arrow 0.6s ease-in-out;
  }
}


@keyframes move-arrow {
  0% {
    opacity: 1;
    transform: translateZ(0);
  }
  50% {
    transform: translate3d(8px,0,0); 
    opacity: 0; 
  }

  51% {
    transform: translate3d(-8px,0,0); 
    opacity: 0; 
  }
  100% {
    transform: translateZ(0); 
    opacity: 1;
  }
}

.isAbove1024{
  display: flex;
}

.isBelow1024{
  display: none;
}

@media (max-width: 1024px)
{

  .isAbove1024{
    display: none;
  }
    .isBelow1024{
      display: flex;
    }

    
}