
.photos{
    display: grid;
    grid-template-columns: 1fr;
    row-gap: 20px;
    margin: 0 auto;
    width: 100%;
    max-width: 1000px;
    margin-block: 130px;

    &__img{
        width: 100%;
    }
}