@import '../fonts';
@import '../colors';


.c-form{
    background-color: $c-white;
    padding: 40px 30px;
    border-radius: 12px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 460px;
    position: relative;
    &__heading{
        color: $c-blue;
        @include font__medium24;
        margin-bottom: 16px;
    }

    &__close{
        position: absolute;
        right: 30px;
        font-size: 24px;
        cursor: pointer;
    }

    &__inputWrap{
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 4px;
        min-height: 66px;

    }

    &__input,  &__select, &__textarea{
        border: 1px solid $c-blue;
        padding: 10px 12px;
    }

    &__textarea{
        scrollbar-width: none;
    }

    .-textarea
    {
        min-height: 86px;
    }

    &__select{
       cursor: pointer;
    }

    &__error{
        color: $c-red;
        @include font_regular13;
    }

    &__btn{
        background-color: $c-blue;
        color: $c-white;
        padding: 12px;
        border-radius: 4px;
        transition: all .3s;

        &:hover{
            background-color: #138f76;
            cursor: pointer;
        }
    }

}